<% if @recipes.count == 0 %>
	<h1>Opskrifter burde findes her</h1>
	<p>Men det ser desværre ikke ud til at der er blevet oprettet nogen endnu.</p>
	<p>Vil du <%= link_to 'oprette den første?', new_recipe_path %> </p>
<% else %>
<div class="row">
	<% @recipes.each do |recipe| %>
	<div class="col-sm-6 col-md-3">
		<h3><%= link_to recipe.title, recipe_url(recipe) %></h3>
		<div class="container-fluid">
			<%= link_to image_tag(recipe.recipe_image.url :big_thumb), recipe_url(recipe) %>
		</div>
		<p><%= truncate(recipe.description, :length => 130) %></p>
	</div>
	<% end %>
</div>
<% end %>
