<%= carousel_for(["basket_of_fruit.jpg", "icecream.jpg", "food-01.jpg"]) %>

<div class="container-fluid">
  <% @blog_posts.each do |blog_post| %>
  <div class="col-sm-6 col-xs-12">
    <h2><%= link_to blog_post.title, blog_post %></h2>
    <p><%= truncate(blog_post.post, :length => 1200) %></p>
    </div>
  <% end %>
</div>
